@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?f103pv');
    src:  url('../fonts/icomoon.eot?f103pv#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?f103pv') format('truetype'),
      url('../fonts/icomoon.woff?f103pv') format('woff'),
      url('../fonts/icomoon.svg?f103pv#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
.icon-youtube:before {
  content: "\e91d";
}
.icon-twitter:before {
  content: "\e91e";
}
.icon-pinterest:before {
  content: "\e91f";
}
.icon-instagram:before {
  content: "\e920";
}
.icon-google-plus:before {
  content: "\e921";
}
.icon-facebook:before {
  content: "\e922";
}
.icon-adult-avatar:before {
  content: "\e900";
}
.icon-appartment:before {
  content: "\e901";
}
.icon-boy-and-girl-students:before {
  content: "\e902";
}
.icon-business-man:before {
  content: "\e903";
}
.icon-cancel-music:before {
  content: "\e904";
}
.icon-checked:before {
  content: "\e905";
}
.icon-conversation:before {
  content: "\e906";
}
.icon-crawling-baby-silhouette:before {
  content: "\e907";
}
.icon-credit-card:before {
  content: "\e908";
}
.icon-departures:before {
  content: "\e909";
}
.icon-double-king-size-bed:before {
  content: "\e90a";
}
.icon-flag:before {
  content: "\e90b";
}
.icon-internet:before {
  content: "\e90c";
}
.icon-itinerary:before {
  content: "\e90d";
}
.icon-mail-black-envelope-symbol:before {
  content: "\e90e";
}
.icon-maps-and-flags:before {
  content: "\e90f";
}
.icon-mastercard2:before {
  content: "\e910";
}
.icon-money:before {
  content: "\e911";
}
.icon-multiple-users-silhouette:before {
  content: "\e912";
}
.icon-old-typical-phone:before {
  content: "\e913";
}
.icon-placeholder:before {
  content: "\e914";
}
.icon-placeholder2:before {
  content: "\e915";
}
.icon-right-thin-chevron:before {
  content: "\e916";
}
.icon-sort:before {
  content: "\e917";
}
.icon-support:before {
  content: "\e918";
}
.icon-takeoff:before {
  content: "\e919";
}
.icon-user:before {
  content: "\e91a";
}
.icon-visa-logo:before {
  content: "\e91b";
}
.icon-woman-avatar:before {
  content: "\e91c";
}
