// Responsive breakpoints

$primary-black:     #231f20;
$primary-yellow:    #f7941d;
$secondary-yellow:  #d3790d;
$primary-red:       #ed1c24;
$secondary-red:     #a33439;
$darker-red:        #832226;
$light-gray:        #d5d5d5;
$gray:              #c4ced2;
$dark-gray:         #6b6b6b;
$blue:              #00aeef;

$shadow-button:     rgba(0, 0, 0, 0.1);
$slide-info-bg:     rgba(0, 0, 0, 0.5);

$search-form-active-tab:    #fdc992;
$search-form-start-color:   #ffc485;
$search-form-end-color:     #ff8171;

$contact-box-start-color:   #f1aa55;
$contact-box-end-color:     #e16e5e;

$inrange-dates:             #fddfbb;
$horizontal-header-date:    #e4e4e4;

$results-background:        #f8f8f8;

$review-excellent:          #35882e;
$review-perfect:            #5bbb54;
$review-good:               #00aeef;
$review-accepted:           $primary-yellow;
$review-bad:                $primary-red;

$heading-1:         35px;
$heading-2:         25px;
$heading-3:         18px;
$heading-4:         16px;
$heading-5:         12px;

$body-font-size:    16px;
$small-font-size:   12px;

$banner-big-text-desktop:   103px;
$banner-small-text-desktop: 72px;
$banner-big-text-mobile:   65px;
$banner-small-text-mobile: 30px;

$desktop-padding:   40px 0;
$mobile-padding:    20px 0;

$slick-arrow-size: 40px;