extends pug/layouts/_index

block main_content
    include pug/components/contact-details/_small-banner
    include pug/components/tour-detail/_breadcrum
    .tcd__contact-detail-wrapper
        .container
            .row
                include pug/components/contact-details/_contact-details
                include pug/components/contact-details/_booking-summary