.form-group {
    border: 1px solid $primary-black;
    @extend %rounded-input;
    label {
        font-size: $small-font-size;
        display: block;
        margin: 5px 10px;
    }

    .form-control {
        border: 0;
        outline: none;
        box-shadow: none;
        padding-top: 0;
        background-color: transparent !important;
    }

    + .invalid-feedback {
        color: $primary-red;
        margin: -10px 0 10px 0;
    }
    
    &.is-invalid {
        border-color: $primary-red;
        + .invalid-feedback {
            display: block;
        }
    }

    &.has-toggle {
        .form-control {
            width: 80% !important;
        }
    }
}