script(src="js/utils.min.js")
script(src="js/index.min.js")
script(src="js/tour.min.js")
script(src="js/flight.min.js")
script(src="js/tour-detail.min.js")
script(src="js/contact-details.min.js")
script(src="js/addons.min.js")
script(src="js/payment.min.js")
script(src="js/customs.min.js")

