include ../mixins/_mixins

.tcd__contact
    .container
        .row
            .tcd__contact-form
                form
                    h2= contact_with_us
                    .row
                        .col-12.col-md-6
                            +form-input(contact_name, "text", '', contact_name_error)
                        .col-12.col-md-6
                            +form-input(contact_email, "email")
                    +form-input(contact_subject, "text")
                    +form-input(contact_message, "textarea")
                    button.btn.btn-primary.big(type="button")= send_message

