$pre: 'tcd__detail';

$hotel-stars-height: 100px;

.#{$pre}-hotels {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    flex-wrap: wrap;

    @include media-breakpoint-up(sm) {
        flex-wrap: nowrap;
    }

    .#{$pre}-hotel {
        flex-grow: 1;
        position: relative;
        height: $hotel-stars-height;
        margin-right: 10px;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        width: calc(50% - 10px);
        margin-bottom: 10px;

        @include media-breakpoint-up(sm) {
            width: auto;
            margin-bottom: 0;
        }

        &:nth-child(2n + 2) {
            margin-right: 0;

            @include media-breakpoint-up(sm) {
                margin-right: 10px;
            }
        }

        &:last-child {
            margin: 0;

            @include media-breakpoint-up(sm) {
                
            }
        }

        label {
            color: $white;
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            @extend %tcd-bold;
            font-size: $heading-2;
            background-color: $slide-info-bg;
            @extend %hoverable-link;
            cursor: pointer;
        }

        input {
            position: absolute;
            visibility: hidden;
            opacity: 0;

            &:checked + label {
                outline: 5px solid $primary-yellow;
                background-color: $hotel-stars;
            }
        }
    }
}