$pre: 'tcd__hotel';
$parent: 'tcd__popular-hotels';
$thumbnail-height: 90px;
$thumbnail-width: 95px;
$star-size: 12px;

.#{$pre}-list {
    .#{$pre}-item {
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
        .#{$pre}-thumbnail {
            width: $thumbnail-width;
            height: $thumbnail-height;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            margin-right: 10px;
        }

        .#{$pre}-content {
            .#{$pre}-title {
                margin-bottom: 5px;
                a {
                    color: $primary-black;
                    @extend %hoverable-link;
                }
            }

            .#{$pre}-stars {
                display: flex;
                flex-direction: row;
                img {
                    width: $star-size;
                    height: $star-size;
                    margin: 0 1px;
                }
            }

            .#{$pre}-price {
                margin: 5px 0;
                span {
                    font-size: $small-font-size;
                }

                strong {
                    display: inline-block;
                    margin-left: 5px;
                    color: $primary-yellow;
                }
            }

            .#{$pre}-address {
                font-size: $small-font-size;
                span[class^="icon-"] {
                    display: inline-block;
                    margin-right: 5px;
                }

                span {

                }
            }
        }
        
    }    
}

.#{$parent} {
    @extend %block-padding;
    .#{$parent}-title {
        @extend %block-title;
    }  
}