$pre: 'tcd__results';
$wrap: 'tcd__results-wrapper';
$pagination: 'tcd__pagination';

$thumbnail-size: 255px;
$price-width: 175px;
$bottom-distance: 15px;
$star-size: 12px;
$score-size: 30px;
$pagination-btn-size-desktop: 40px;
$pagination-btn-size-mobile: 30px;

$airline-logo-size: 50px;
$airline-logo-size-mobile: 30px;

.#{$wrap} {
    @extend %block-padding;
    background-color: $results-background;
}

select {
    appearance: none;
    padding-right: 35px !important;
    background: $white url('../img/chevron-down.png') 96% / 8% no-repeat;
}

.#{$pre} {
    .#{$pre}-title {
        position: relative;
        .navbar-toggler {
            right: 0;
            top: 0;
            color: $primary-black;

            @include media-breakpoint-up(lg) {
                display: none;
            }
        }

        h1 {
            padding-bottom: $bottom-distance;
            border-bottom: 1px solid $horizontal-header-date;
            margin-bottom: $bottom-distance;
            padding-right: 40px;
            margin-top: 0;
            font-size: $heading-2;

            @include media-breakpoint-up(md) {
                font-size: $heading-1;
            }

            @include media-breakpoint-up(lg) {
                padding-right: 0;
            }

            span {
                font-size: $body-font-size;
                @extend %tcd-light;
                margin-left: 5px;
            }
        }
    }
    .#{$pre}-head {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
margin-bottom: $bottom-distance;
        p {
            margin: 0;
        }
        .sort-options {
            text-align: right;

            select {
                height: 32px;
                padding-top: 4px;
                padding-bottom: 4px;
            }
         }
    }

    .#{$pre}-list {
        .#{$pre}-card {
            background-color: $white;
            box-shadow: 2px 4px 10px $shadow-button;
            display: flex;
            flex-direction: row;
            margin-bottom: 20px;
            flex-wrap: wrap;

            // tour cards
            .#{$pre}-card-thumbnail {
                width: 100%;
                display: flex;
                flex-direction: column;
                min-height: 300px;
                
                .#{$pre}-card-thumb,
                .#{$pre}-card-map {
                    width: 100%;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center center;
                }

                .#{$pre}-card-map {
                    cursor: pointer;
                    @extend %hoverable-link;
                }

                .#{$pre}-card-thumb {
                    height: 66%
                }

                .#{$pre}-card-map {
                    height: 34%;
                }   

                @include media-breakpoint-up(sm) {
                    width: 50%;
                }

                @include media-breakpoint-up(md) {
                    width: $thumbnail-size;
                }
            }

            .#{$pre}-card-info {
                flex-grow: 1;
                padding: 20px 15px;
                width: 100%;

                .#{$pre}-card-title {
                    margin-bottom: 0;
                }

                .#{$pre}-card-comment {
                    margin-top: 5px;
                    p {
                        @extend %tcd-light-italic;
                    }
                }

                .#{$pre}-card-detail-info {
                    display: flex;
                    flex-direction: row;
                    .detail-info-label {
                        flex-grow: 1;
                        p {
                            margin-bottom: 5px;
                            text-transform: uppercase;
                            color: $dark-gray;
                        }
                    }

                    .detail-info-text {
                        flex-grow: 1;
                        p {
                            margin-bottom: 5px;
                        }
                    }
                }

                @include media-breakpoint-up(sm) {
                    width: 50%;
                }

                @include media-breakpoint-up(md) {
                    width: auto;
                    max-width: calc(100% - 430px);
                }
            }

            .#{$pre}-card-price-info {
                padding: 20px 15px;
                border-top: 1px solid $horizontal-header-date;
                position: relative;
                overflow: hidden;
                width: 100%;
                display: flex;
                flex-direction: column;

                .#{$pre}-card-discount {
                    position: absolute;
                    top: -10px;
                    right: -40px;
                    @include transform(rotateZ(45deg));
                    background-color: $primary-red;
                    color: $white;
                    padding: 20px 40px 2px 40px;
                    display: inline-block;
                }

                .#{$pre}-card-price {
                    p {
                        font-size: $small-font-size;
                        text-decoration: line-through;
                        margin-bottom: 0;
                    }

                    h3 {
                        color: $primary-yellow;
                        margin-bottom: 0;
                    }
                }

                .#{$pre}-card-duration {
                    box-shadow: 0 0 4px $shadow-button;
                    padding: 10px;
                    text-align: center;
                    margin: 15px 0;
                    h3 {
                        margin-bottom: 0;
                    }

                    p {
                        color: $dark-gray;
                        font-size: $small-font-size;
                        margin: 0;
                    }
                }

                .#{$pre}-card-included {
                    p {
                        font-size: $small-font-size;
                        text-align: right;
                        margin: 0;

                        span[class^='icon-'] {
                            margin-right: 5px;
                            font-size: $small-font-size - 2px;
                        }

                        span:last-child {

                        }
                    }
                }

                .#{$pre}-card-btn {
                    flex-grow: 1;
                    position: relative;
                    margin-top: $bottom-distance;

                    .btn {
                        width: 100%;

                        @include media-breakpoint-up(md) {
                            position: absolute;
                            bottom: 0;
                        }
                    }
                }

                @include media-breakpoint-up(md) {
                    width: $price-width;
                    border-top: 0;
                    border-left: 1px solid $horizontal-header-date;
                }
            }

            &:last-child {
                margin-bottom: 0;
            }

            @include media-breakpoint-up(md) {
                flex-wrap: nowrap;
            }

            // flight cards
            &.type-2 {
                display: block;
                border: 1px solid $white;
                @include transition(all 0.3s ease-in-out);

                .#{$pre}-card-wrapper {
                    padding: 15px;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;

                    .#{$pre}-brand {
                        text-align: center;
                        min-width: 100px;
                        padding-bottom: 10px;
                        border-bottom: 1px solid $horizontal-header-date;
                        img {
                            height: $airline-logo-size;
                            margin-bottom: 5px;
                        }
                        h4 {
                            margin: 0
                        }
                        p {
                            margin: 0;
                        }

                        @include media-breakpoint-up(sm) {
                            padding-bottom: 0;
                            border: 0;
                        }
                    }
    
                    .#{$pre}-info {
                        flex-grow: 1;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        padding-top: 10px;
                        padding-bottom: 10px;
                        border-bottom: 1px solid $horizontal-header-date;

                        .#{$pre}-column-info {
                            display: flex;
                            flex-direction: column;
                            text-align: right;
                            h2 {
                                margin-bottom: 5px;
                            }
                            p {
                                margin: 0;
                                line-height: 1.3;
                            }
    
                            &:last-child {
                                align-items: flex-start;
                            }
                        }
    
                        .#{$pre}-info-center {
                            display: flex;
                            flex-direction: column;
                            text-align: center;
                            margin: 0 40px;
                            span {
                                font-size: $small-font-size;
                            }
    
                            img {
                                max-width: 40px;
                            }
                        }

                        @include media-breakpoint-up(sm) {
                            padding-bottom: 0;
                            border: 0;
                        }
                    }
    
                    .#{$pre}-price {
                        flex-grow: 1;
                        text-align: center;
                        display: flex;
                        flex-direction: column;
                        margin-top: 15px;

                        h3 {
                            color: $primary-yellow;
                            margin-bottom: 0;
                            span {
                                font-size: $small-font-size;
                                color: $primary-black;
                                @extend %tcd-light;
                            }
                        }
    
                        p {
                            font-size: $small-font-size;
                            margin: 0;
                            color: $dark-gray;
    
                            span[class^='icon-'] {
                                font-size: $small-font-size - 2px;
                                margin-right: 3px;
                            }
                        }
    
                        .#{$pre}-btns {
                            flex-grow: 1;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            margin-top: 15px;
                            
    
                            a {
                                text-decoration: underline;
                                margin-right: 15px;
                                margin-bottom: 5px;

                                @include media-breakpoint-up(sm) {
                                    margin-bottom: 0;
                                }
                            }
    
                            .btn {
                                padding: 5px 15px;
                            }

                            @include media-breakpoint-up(sm) {
                                align-items: flex-end;
                                justify-content: flex-end;
                                flex-direction: row;
                            }
                        }

                        @include media-breakpoint-up(sm) {
                            text-align: right;
                            margin-top: 0;
                        }
                    }

                    @include media-breakpoint-up(sm) {
                        flex-direction: row;
                    }
                }

                .#{$pre}-detail {
                    border-top: 1px solid $horizontal-header-date;
                    margin: 0 15px;
                    display: flex;
                    flex-direction: column;
                    padding: 15px 0;
                    display: none;

                    .#{$pre}-detail-card {
                        display: flex;
                        flex-direction: column;
                        
                        .#{$pre}-detail-brand {
                            margin-bottom: 15px;
                            text-align: center;
                            img {
                                height: $airline-logo-size-mobile;

                                @include media-breakpoint-up(sm) {
                                    height: $airline-logo-size;
                                }
                            }
                            h4, p {
                                margin: 0
                            }

                            @include media-breakpoint-up(sm) {
                                margin-bottom: 0;
                            }
                        }
                        .#{$pre}-detail-info {
                            flex-grow: 1;
                            position: relative;
                            padding-left: 15px;

                            .#{$pre}-detail-vertical-line {
                                position: absolute;
                                top: 5px;
                                left: 0px;

                                span {
                                    width: 2px;
                                    height: 90px;
                                    background-color: $horizontal-header-date;
                                    display: inline-block;
                                    position: relative;

                                    &:before, &:after {
                                        content: '';
                                        position: absolute;
                                        left: -5px;
                                        top: 0;
                                        width: 11px;
                                        height: 11px;
                                        border-radius: 50%;
                                        background-color: $horizontal-header-date;
                                    }

                                    &:after {
                                        top: auto;
                                        bottom: 0;
                                    }
                                }

                                @include media-breakpoint-up(sm) {
                                    left: 70px;
                                }
                            }

                            .#{$pre}-detail-sub-info {
                                display: flex;
                                flex-direction: row;

                                .#{$pre}-detail-info-left {
                                    h4 {
                                        margin: 0;
                                    }
                                    p {
                                        margin: 0;
                                        font-size: $small-font-size;
                                        color: $dark-gray;
                                    }
                                }

                                .#{$pre}-detail-info-right {
                                    flex-grow: 1;
                                    padding-left: 20px;
                                    p {
                                        margin: 0;
                                        line-height: 1.3;

                                        span {
                                            margin-left: 5px;
                                        }
                                    }
                                }
                            }
                            .#{$pre}-detail-info-middle {
                                p {
                                    font-size: $small-font-size;
                                    margin: 10px 0;
                                }
                            }

                            @include media-breakpoint-up(sm) {
                                padding-left: 90px;
                            }
                        }
                        .#{$pre}-detail-utils {
                            flex-grow: 1;
                            margin: 15px 0;
                            ul {
                                li {
                                    &:before {
                                        content: '- ';
                                    }
                                }
                            }

                            @include media-breakpoint-up(sm) {
                                
                            }
                        }

                        @include media-breakpoint-up(sm) {
                            flex-direction: row;
                        }
                    }

                    .#{$pre}-detail-stopover {
                        padding: 10px;
                        margin: 15px 0;
                        border-top: 2px solid $primary-yellow;
                        border-bottom: 2px solid $primary-yellow;
                        p {
                            margin: 0;
                            strong {
                                color: $primary-yellow;
                            }

                            span {

                            }
                        }
                    }
                }

                &.active {
                    border: 1px solid $primary-black;

                    .#{$pre}-detail {
                        display: block;
                    }
                }
            }
        }
    }
}

.#{$pagination} {
    padding-top: 15px;
    ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        li {
            margin: 0 2px;
            a {
                display: inline-block;
                border: 1px solid $primary-yellow;
                border-radius: 5px;
                color: $primary-black;
                width: $pagination-btn-size-mobile;
                height: $pagination-btn-size-mobile;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                font-size: $small-font-size;

                span[class^='icon-'] {
                    display: inline-block;
                    font-size: $small-font-size;
                    width: 5px;
                    @include transform(translate(-3px, 0));
                }

                @include media-breakpoint-up(sm) {
                    width: $pagination-btn-size-desktop;
                    height: $pagination-btn-size-desktop;
                    font-size: $body-font-size;
                }
            }

            &.active,
            &:hover {
                a {
                    background-color: $primary-yellow;
                    color: $white;
                }
            }

            &.#{$pagination}-prev-all,
            &.#{$pagination}-prev {
                @include transform(rotateY(180deg));
            }

            &.#{$pagination}-prev {
                margin-right: 10px;

                @include media-breakpoint-up(sm) {
                    margin-right: 15px;
                }
            }

            &.#{$pagination}-next {
                margin-right: 10px;

                @include media-breakpoint-up(sm) {
                    margin-right: 15px;
                }
            }
        }
    }
}

.tcd__reviews {
    display: flex;
    flex-direction: row;
    margin-top: 8px;
    .reviews-score {
        width: $score-size;
        height: $score-size;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
        border-radius: 5px;
        color: $white;

        &.excellent {
            background-color: $review-excellent;
        }

        &.perfect {
            background-color: $review-perfect;
        }

        &.good {
            background-color: $review-good;
        }

        &.accepted {
            background-color: $review-accepted;
        }

        &.bad {
            background-color: $review-bad;
        }
    }

    .reviews-info {
        p {
            margin: 0;
            line-height: 0.8;
            margin-top: 2px;
        }

        span {
            font-size: $small-font-size;
            color: $dark-gray;
        }
    }
}