$pre: 'tcd__tour-list';
$slide-height: 500px;
$discount-size: 50px;
$badget-left: 30px;
$tour-desktop-padding: 75px 0 40px 0;

.#{$pre} {
    padding: $mobile-padding;

    @include media-breakpoint-up(md) {
        padding: $tour-desktop-padding;
    }

    .#{$pre}-title {
        @extend %block-title;
        margin-bottom: 0;

        @include media-breakpoint-up(sm) {
            margin-bottom: 10px;
        }
    }     

    .#{$pre}-slider {
        .#{$pre}-slide {
            min-height: $slide-height;
            position: relative;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            outline: none;

            .#{$pre}-discount {
                position: absolute;
                top: -$discount-size/2;
                left: $badget-left;
                width: $discount-size;
                height: $discount-size;
                background-color: $primary-yellow;
                border-radius: 50%;
                color: $white;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .#{$pre}-info {
                background-color: $slide-info-bg;
                color: $white;
                padding: 40px 30px 15px 30px;
                position: relative;

                .#{$pre}-price {
                    position: absolute;
                    top: -25px;
                    left: $badget-left;
                    background-color: $white;
                    color: $primary-black;
                    padding: 5px 10px;
                    span {
                        font-size: $small-font-size;
                    }

                    strong {
                        color: $primary-yellow;
                        margin-left: 5px;
                        font-size: $heading-2;
                    }
                }

                h3 {
                    font-size: $heading-1;
                }

                p {

                }

                .#{$pre}-btn {
                    text-align: center;
                }
            }

            @include media-breakpoint-up(sm) {
                margin: 0 7px;
            }
        }

        @include slick-controls($primary-black, $white);

        .slick-arrow {
            &.slick-prev {
                left: -20px;

                @include media-breakpoint-up(sm) {
                    left: -40px;
                }
            }

            &.slick-next {
                right: -20px;

                @include media-breakpoint-up(sm) {
                    right: -40px;
                }
            }

            &:before {
                color: $gray;
                border-color: $gray;
            }
        }

    }
}

.initializing {
    height: $slide-height + 25px;
    position: relative;

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        width: 95%;
        height: 100%;
        background: $white url('../img/ajax-loader.gif') no-repeat center center;
        @include opacity(0.9);
        @include transform(translate(-50%, 0));
        z-index: 2;
    }
}